body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
}
#logo {
    border-radius: 50%;
    flex-shrink: 0;
}

#logotext {
    font-weight: bold;
    font-size: 24px;
}

#text1{
    font-size: 64px;
    margin-bottom: -12px;
}

.text2{
    font-size: 18px;
    font-weight: 250;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FEFBEA;
    flex: 1 1 0;
}

.logocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.headerlinks {
    display: flex;
    gap: 24px;
}

.link {
    font-size: 18px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    display:block;
}

.desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    flex: 2 1 0;
    background-color: #FEFBEA;
}

.desctext {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px 15px;
    flex: 4 1 0;
}

.mainhead {
    font-size: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 auto;
    gap: 5px;
}

.cardtext {
    max-width: 300px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    flex: 3 1 0;
    background-color: #fefbea;
}

.quotetext {
    align-self: center;
    max-width: 700px;
    font-style: italic;
    font-weight: 30;
    font-size: 25px;
}

.quoteauth {
    align-self: flex-end;
    margin-right: 200px;
}

.banner{
    background-color: #fefbea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannercont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    padding: 30px;
    margin: 40px 120px;
    gap: 16px;
    background-color: rgb(242, 242, 255);
    border-radius: 10px;
}

.footer {
    display:flex;
    background-color: #fefbea;
    justify-content: center;
    align-items: center;
    flex: 2 1 0;
}